@using LearnLanguages.Mvc4;

@{
  ViewBag.Title = @Mvc4Resources.TitleContactPage;
}

<h2>Contact Gib!</h2>

<h3>Email</h3>
<span><a href="mailto:ibgib@ibgib.com">ibgib@ibgib.com</a></span>

@*<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
</ul>*@