@using LearnLanguages.Mvc4;

@{
  ViewBag.Title = @Mvc4Resources.TitleVisionPage;
}

@*@section Styles {
    <link href="@Url.Content("~/Content/custom.css")" rel="stylesheet" type="text/css" />
}*@


<div style="font-family: 'Times New Roman'; 
            font-style: inherit; 
            background-image:url('/Content/images/ibgib_minimal_type.png');">

<div align="center"><h2>Ib. Gib. Ibgib.</h2></div>

<p>    Ibgib is a small company with a simple idea: <span style="font-weight:bold">To Learn Everything in an Extraordinarily Efficient 
   and Nerdy Way, and Maintain that Knowledge over an Entire Lifetime while Staying Lazy...Errrr...Efficient.</span></p>

<p>    Whatever the subject matter, whatever the information, whatever the niche, whatever the *Data* may be...We want to use 
   everything at our scientificky disposal to maximize the little grey cells' capabilities to *OWN* that data. </p>

<p>    But if we're not smart about it, if we're not nerdy about it,
  <img src="/Content/images/learn_acronym.jpg" alt="Learn Everything And Remember Nothing! ibgib." />
   if we don't use a scientificky method, then the outcome is a 
   foregone conclusion: Use it or lose it! </p>

<p>    But Alas! There is HOPE! Ibgib is dedicated to fighting this cognitive bias of 
   forgetfulness; this invisible thief with slippery fingers that double-dip into our brain buckets and pinch our encephalodata. 
   This beast feasts on our poor little grey cellular 1s and 0s, lo we say - Be Gone Ye Sneakie Daemon!</p>

<p>    Ibgib is all about beating back that demon and fighting with whatever means necessary. And this necessarily means
   We don't want to just "LEARN" our data; rather, we want to *Recall* it, we want to 
   *Maintain* it...we want to <i><b>Completely Own It</b></i>.</p>

<div style="padding-right: 5em;" align="right" ><p>I. B. Ib. G. Gib. Ib. Gib. Ibgib. ibgib.</p></div>

</div>