@using LearnLanguages.Mvc4;

@{
  ViewBag.Title = @Mvc4Resources.TitleVisionPage;
}

<!--To be inserted into layout <head> section-->
@section Head {

}


<div align="center"><h1>Lazy, Efficient, Lifetime Learning</h1></div>
<div align="center"><h2>Ibgib.</h2></div>

<div id="accordion" style="font-family: 'Times New Roman'; 
                    font-style: inherit; 
                    background-image:url('/Content/images/ibgib_minimal_type.png');">


  <h3 class="accordion-header">Ibgib: For Learning Things That Just Won't Stick, Without Sacrificing All Your timeGib.</h3>
  <div>
    <p>In one ear...then right out the other:</p>
    <img src="/Content/images/learn_acronym.jpg" alt="Learn Everything And Remember Nothing! ibgib." />

    <p>
      Some stuff, it seems like no matter how much you study it, you just can't remember it later. You 
      study them again and again and again...and your memory is just a hazy fog of maybes. Because it's 
      <span class="accent_1">difficult</span> to study in a regular manner. 
    </p>

    <p>
      How can we remember all this cool stuff that we learn? How do we keep this trivia that just does NOT want
      to stick in our brains?
    </p>
    
       <ul>
     <li>People learn differently. Some people learn better with a strict teacher...some learn better on their own.</li>
     <li>Once they do learn the material, it's <span class="accent_1">hard</span> to remember it down the road.</li>
   </ul>

<p>Ibgib is a small company with a simple idea: <span style="font-weight:bold">To Learn Everything in an Extraordinarily Efficient 
   and Nerdy Way, and Maintain that Knowledge over an Entire Lifetime while Staying Lazy...Errrr...Efficient.</span></p>

<p>Whatever the subject matter, the information, the process, the dialect, the niche - whatever the 
  <span class="accented-vision">Data</span> may be, we want to use 
   everything at our scientificky disposal to maximize the little grey cells' capabilities to <b>own that data
   over our entire lifetime</b>.</p>

<p>But if we're not smart about it, if we're not nerdy about it,
  
   if we don't use a scientificky method, then the outcome is a 
   foregone conclusion: Use it or lose it! </p>

<p>But Alas! There <i>is</i> HOPE! Ibgib is dedicated to fighting this cognitive bias of 
   forgetfulness; this beast that feasts on our brains' little grey 1s and 0s. LO!, we say - Be Gone Ye Sneakie Daemon!</p>

  
<p>Ibgib is all about beating back that demon with whatever means necessary. And this necessarily means
   we don't want to just "LEARN" our data - not to just forget it all in a couple weeks or months. Rather, we want to 
   *Retain* the information...We want to maintain it for the entirety of our lifespan, while still being extremely 
   clever (lazy) about how we go about it!</p>
    
  </div>
  
  
  <h3 class="accordion-header">appGib</h3>
  
  <div>
    <p>Ibgib is continuously developing the appGib, and it has been formulated from approximately a bajillion principles. 
       However, at this stage of its life, the appGib can be said to comprise a few core tenets listed as follows 
      (skip this section if you don't care about the scientificky
       type stuff):</p>

      <ol>
        <li>The ibData MUST be centrally located in the cloud, and it must be available via any device.</li>
        <li>The ibData MUST be understood to be composed of living entities - always dynamic and evolving, 
            and never static and stagnant.</li>
        <li>The ibData MUST be able to grow both top-down, flowing from "teacher" to student, as well as organically from 
            the bottom-up, directed by the student's interests and abilities.</li>
      </ol>

  </div>
</div>

<div style="padding-right: 5em;" align="right" ><p>I. B. Ib. G. Gib. Ib. Gib. Ibgib. ibgib.</p></div>


<script>
  AttachAccordion();
</script>

<style>
  .accordion-header {
    padding-left: 35px;
    /*font-style: italic;*/
    font-weight: bold;
    font-size: 20px;
  }
</style>  
