<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- Local Sql Server Express Connection String -->
    <!--<add name="LearnLanguagesContext" connectionString="metadata=res://*/LearnLanguages.csdl|res://*/LearnLanguages.ssdl|res://*/LearnLanguages.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESK\SQLEXPRESS;initial catalog=LearnLanguagesDb;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!-- Azure Websites LearnLanguagesDb connection string -->
    <add name="LearnLanguagesContext"
         connectionString="metadata=res://*/LearnLanguages.csdl|res://*/LearnLanguages.ssdl|res://*/LearnLanguages.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:zr0euhswuf.database.windows.net,1433;Database=LearnLanguagesDb;User ID=kroker@zr0euhswuf;Password=3l3ph4ntSQL%%%%%;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True;&quot;"
         providerName="System.Data.EntityClient" />


  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
